<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <h1>XX 停車場</h1>
    <div id="app">
      <p>日期 : 2022/05/06</p>
      <p>入場時間 : 12:00</p>
      <p>離場時間 : 13:00</p>
      <p>總金額 : 20 元</p>
      <p><input id='' type="button" name="繳費" value="繳費" onclick="" style="width: auto;"></input></p>

    </div>
    
    <input type="button" value= "返回"  onclick="window.location.href='select.html'"></input>
    <!-- built files will be auto injected -->
    
  </body>
</html>
